<h1><a href="/{{ article.url }}" rel="bookmark">
    {{ article.title|striptags }}
</a></h1>
{% if article.stats %}
<span title="~{{ article.stats['wc'] }} words" id='stats'>~{{ article.stats['read_mins'] }} min read</span>
{% endif %}
&bull;
<time datetime="{{ article.date }}" pubdate>Posted on
    {{ article.locale_date }}
</time>
{% if SHOW_AUTHOR %}
  {% if article.author %}
  <address class="vcard author">
      by <a class="url fn" href="/{{ article.author.url }}">
      {{ article.author }}</a>
  </address>
  {% endif %}
{% endif %}
{% if categories|length > 1 %}
<span class="category">in <a href="/{{ article.category.url }}">
    {{ article.category }}</a>
</span>
{% endif %}
{% if article.translations %}
Translations:
    {% for translation in article.translations %}
        <a href="/{{ translation.url }}">{{ translation.lang }}</a>
    {% endfor %}
{% endif %}
{% if article.updated %}
  <time datetime="{{ article.updated }}" pubdate>Last updated:
      {{ article.updated }}
  </time>
{% endif %}
{% if article.tags %}
    <ul class="tags">
    Tags:
    {% for tag in article.tags %}
        <li><a href="/{{ tag.url }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
