{% if SOCIAL %}
{% include 'social.html' %}
{% endif %}

<a id="cc-logo" rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank"></a>

Powered by <a href="https://blog.getpelican.com"> Pelican</a> using <a href="https://gitlab.com/axil/pelican-uberspot">uberspot theme</a>
&bull;
Background image from <a href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</a>

{% if SITE_SOURCE %}
&bull;
<a href="{{ SITE_SOURCE }}" title="Source code">Source code</a>
{% endif %}
