{% extends 'base.html' %}

{% block title %}
Search - {{ SITENAME|striptags }}
{% endblock title %}

{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
</script>
<script type="text/javascript" src="/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="/theme/tipuesearch/tipuesearch.min.js"></script>

<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'show': 10,
         'mode': 'json',
         'contentLocation': '/tipuesearch_content.json'
     });
});
</script>

<section id="content" class="body">

<div align="center"><input type="text" size="60" id="tipue_search_input">
<input type="button" id="tipue_search_button" value="Search"></div>
<div id="tipue_search_content"></div>

</section>
{% endblock content %}
